*{
  margin: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
